@model Trip
<style>
	.disabled {
		pointer-events: none;
		cursor: not-allowed;
		opacity: 0.65;
	}
</style>
<section class="banner-area relative">
	<div class=" overlay overlay-bg"></div>
	<div class="container">
		<div class="row d-flex align-items-center justify-content-center">
			<div class="about-content col-lg-12">
				<h1 class="text-white">
					CheckOut
				</h1>
				<p class="text-white link-nav">
					<a asp-controller="Home" asp-action="Index">Home </a>  <span class="lnr lnr-arrow-right"></span>
					<a asp-controller="" asp-action=""> CheckOut</a>
				</p>
			</div>
		</div>
	</div>
</section>

<main>
	<div class="page-content">
		<div class="checkout">
			<div class="container" style="margin:100px;">
				<div class="checkout-discount">
				</div><!-- End .checkout-discount -->
				@* <form asp-action="" asp-controller="" method="post"> *@
				@* <input name="total" type="hidden" /> *@

				<div class="row">
					<div class="col-lg-9">
						<h2 class="checkout-title">Billing Details</h2><!-- End .checkout-title -->
						<div class="row">
							<div class="col-sm-6">
								<label>First Name *</label>
								<input type="text" class="form-control" name="ShipToAddress_FirstName" required value="@ViewBag.FirstName">
							</div><!-- End .col-sm-6 -->

							<div class="col-sm-6">
								<label>Last Name *</label>
								<input type="text" class="form-control" name="ShipToAddress_LastName" required value="@ViewBag.LastName">
							</div><!-- End .col-sm-6 -->
						</div><!-- End .row -->
						<label>Email address *</label>
						<input type="email" class="form-control" name="BuyerEmail" required value="@ViewBag.Email">

						@if(Model.TripTypeID == 3)
						{
							<div class="col-sm-6">
								<label>Group Size *</label>
								<input type="number" value="2" class="form-control" name="Group-Size" disabled>
							</div>
						}else
						{
							<div class="col-sm-6">
								<label>Group Size *</label>
								<input type="number" min="1" max="@Model.Capacity" value="1" class="form-control" name="Group-Size" required>
							</div>
						}
						<br><br>
							<table class="table table-summary">
								

								<tbody>

									<tr class="summary-subtotal">
										<td>Subtotal: </td>
										<td name="subtotal"> @Model.Cost.ToString("C", new System.Globalization.CultureInfo("en-US"))</td>

									</tr><!-- End .summary-subtotal -->
									<tr>
									</tr>
									<tr class="summary-total">
										<td>Total : </td>
										<td name="total"> @Model.Cost.ToString("C", new System.Globalization.CultureInfo("en-US"))</td>

									</tr><!-- End .summary-total -->
								</tbody>
							</table><!-- End .table table-summary -->

							<div id="paypal-btn" style="width:500px"></div>
							
														
							<br>
							@if(ViewBag.found == true)
							{
								<form asp-action="Charge" asp-controller="Booking" method="POST">
									<input type="hidden" name="tripID" value="@Model.Id" />
									<input type="hidden" name="Amount" value="@Model.Cost" />
									<input type="hidden" name="capacity" value="" />
									<script src="//checkout.stripe.com/v2/checkout.js"
											class="stripe-button"
											data-key="pk_test_51OuA9E01LplHwmYAFdDJFp7jP6M8WsZuzDot3UMH2WXlnLfZ1GdkcRtcqx6peoSHhu9CshxN8MSwidf9b4fUEy7S00kW7WUlZT"
											data-locale="auto"
											data-description="Payment Details"
											data-amount="">
									
									</script>
								</form>
							}
							else
							{
								<button class="genric-btn primary text-uppercase disabled" style="margin:13px 20px 10px 0;">Already Booked</button>

							}

							<br>

							<br />
						</div><!-- End .summary -->
					</aside><!-- End .col-lg-3 -->
				</div><!-- End .row -->
				@* </form> *@


			</div><!-- End .container -->
		</div><!-- End .checkout -->
	</div><!-- End .page-content -->
</main><!-- End .main -->
@* Stripe *@

@section Scripts{
<script>
	var subtotal = document.querySelector('[name="subtotal"]');
	var total = document.querySelector('[name="total"]');
	var groupSizeInput = document.querySelector('[name="Group-Size"]');
	var amountInput = document.querySelector('[name="Amount"]');
	var stripeButton = document.querySelector('.stripe-button');
	var capacityNum = document.querySelector('[name="capacity"]');

	function updateStripeAmount(newAmount) {
		if (stripeButton) {
				console.log("Updating stripe amount: " + newAmount);
			stripeButton.setAttribute('data-amount', Math.round(newAmount * 100));
			amountInput.value = newAmount;
			capacityNum.value = groupSizeInput.value
		}
	}

	function updateTotalAndStripeAmount() {
		var groupSize = parseInt(groupSizeInput.value);
		var cost = parseFloat(subtotal.textContent.trim().replace(/[^0-9.-]+/g, ""));
		if (groupSize == 0) {
			cost = cost.toLocaleString('en-US', { style: 'currency', currency: 'USD' });
			total.textContent = cost;
		} else {
			var newTotal = cost * groupSize;
			total.textContent = newTotal.toLocaleString('en-US', { style: 'currency', currency: 'USD' });
				console.log("Updating stripe amount: lllllllllllllllllllllllllll" );
			updateStripeAmount(newTotal);
		}
	}

	groupSizeInput.addEventListener('input', function () {
		updateTotalAndStripeAmount();

	});

	document.addEventListener('DOMContentLoaded', function () {
		updateTotalAndStripeAmount();

	});

	stripeButton.addEventListener('click', function () {
		var currentTotal = parseFloat(total.textContent.trim().replace(/[^0-9.-]+/g, ""));
		updateStripeAmount(currentTotal);
	});

</script>
}

